* {
  font-size: 100%;
  box-sizing: border-box;
  border: 1px solid red;
  margin: 0;
  line-height: 1;
}

body {
  background-color: grey;
  background-image: url(images/papyrus-dark.png);
  background-repeat: repeat;
  color:white;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  margin: 20px 40px 30px;
  line-height: 1;
}

/* header {
  background-image: url(.jpg;
  color:
} */

.float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
}

p {
  display: inline-block;
}
