body {
  background-color: grey;
  background-image: url(images/papyrus_dark.png);
  background-repeat: repeat;
  color:black;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 16px;
  margin: 20px 40px 30px;
  line-height: 1;
}

.float-image {
  float: left;
  margin-right: 15px;
  margin-bottom: 15px;
}

.column {
  float: left;
}

.column-1 {
  width: 30%;
}
